<h2>Fika</h2>
<h1>Zufallsgenerator</h1>
<p>
  Dieser Zufallsgenerator ist dafür da, um den nächsten Fika Speaker 
  auszuwählen - natürlich ganz zufällig und fair. Klick einfach auf 
  den Button unten und schau was passiert.
</p>
<h3>Nächste Speaker</h3>
<div *ngIf="newlyChosen != null; else placeholder">
  <h2>{{ newlyChosen.firstName }} {{ newlyChosen.lastName }}</h2>
  <img>
</div>
<ng-template #placeholder>
  <div>
    <h2>{{ placeholderName }}</h2>
    <img src="">
  </div>
</ng-template>
<button (click)="generateName()">Generieren</button>
