<h2>Fika</h2>
<h1>Zufallsgenerator</h1>
<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy 
  eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. 
  At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, 
  no sea takimata sanctus est Lorem ipsum dolor sit amet.
</p>
<h3>Nächste Speaker</h3>
<div *ngIf="newChosen != null">
  <h2>{{ newChosen.vorname }} {{ newChosen.nachname }}</h2>
  <img>
</div>
<button (click)="onGenerate()">Generieren</button>
